<!-- გამოყენებულია template driven forms  -->

<div [class.dark]="themeService.settheme$|async" class="story">
    <form #sendMessage="ngForm" (ngSubmit)="message()">
        <h1 [class.white]="themeService.settheme$|async">contact us</h1>

        <div>
            <input [(ngModel)]="userMessage.email" [class.input-color]="themeService.settheme$|async" type="email"
                name="email" id="email" placeholder="Enter email" #emailControl="ngModel" required email>
        </div>
        <div class="warning" *ngIf="emailControl.dirty && emailControl.errors?.['email']">
            <p> Please include an '@' symbol in your email address</p>
        </div>

        <div>

            <textarea [(ngModel)]="userMessage.textarea" [class.input-color]="themeService.settheme$|async"
                name="textarea" id="textarea" cols="30" rows="8" [class.white]="themeService.settheme$|async"
                placeholder="Enter your message..." #textareaControl="ngModel" required></textarea>
        </div>


        <button [class.btn-color]="themeService.settheme$|async"
            [disabled]="emailControl.invalid  || textareaControl.invalid" class="btn" type="submit">Send<i
                class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
</div>