<div class="our-story-2" [class.dark]="themeService.settheme$|async">
    <div [class.image-dark]="themeService.settheme$|async" class="img-content"></div>
    <div class="story-content">
        <h1 [class.white]="themeService.settheme$|async">Our Story</h1>
        <p [class.white]="themeService.settheme$|async">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
            provident
            unde quidem vitae quos officia
            numqua ratione animi obcaecati est earum nobis minima, quas ab sint itaque eius pariatur alias incidunt
            magnamoptio.Quas atque facere nostrum earum laboriosam eveniet eaque, dolorem quia iure officiis soluta
            rerum
            asperiores eo nam perspiciatis odit ullam, incidunt delectus non. Totam, ipsam recusandae tenetur quasi
            repudiandae quidem
            iusto voluptates ratione incidunt blanditiis perferendis nesciunt rem saepe placeat mollitia aperiam numquam
            velit facilis debitis amet vitae a. Eligendi eum enim .corporis laborum suscipit nulla facilis. Nobis,
            asperiores? Dolore doloribus ipsa illum impedit vel ea maiores? Molestiae corrupti dicta libero tenetur
            ipsam

            possimus nemo, in suscipit deleniti recusandae accusantium sequi consequuntur quasi iste deserunt ipsum
            it.


        </p>

        <button routerLink="/sign-in" [class.btn]="themeService.settheme$|async">Join Our team</button>
    </div>

</div>
<div class="container-album" [class.dark]="themeService.settheme$|async">
    <div class="container-img ">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1530176611600-d05a6387d07c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="">
    </div>
    <div class="container-img">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="">
    </div>
    <div class="container-img">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1577003833619-76bbd7f82948?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="">
    </div>
    <div class="container-img ">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1460518451285-97b6aa326961?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
            alt="">
    </div>
    <div class="container-img ">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1541344999736-83eca272f6fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="">
    </div>
    <div class="container-img">
        <img [class.image-dark]="themeService.settheme$|async"
            src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fHRlYW18ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60"
            alt="">
    </div>
</div>